.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: 0.3rem;
  }
}

@media (max-width: 992px) {
  .manage-img-div {
    width: 100% !important;
  }
}

.manage-img-div {
  width: 50%;
}

.btn-orange {
  background-color: var(--bs-orange);
  color: white;
}

.img-div {
  max-width: 100vw;
}

.img-div img {
  max-width: 40%;
  margin-right: auto;
  margin-left: auto;
}
